@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --background: #000000;
  --foreground: #ffffff;
}
.light {
  --background: #ffffff;
  --foreground: #000000;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body:has(> .responsive-navbar) {
  overflow: hidden;
}

.background {
  background-image: url(../../public/background.png);
  background-repeat: repeat;
}

.nav-background {
  background-image: url(../../public/background.png);
  background-repeat: repeat;
  opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
  .system {
    --background: #18181b;
    --foreground: #f7ffff;
  }
}