@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --background: #18181b;
  --foreground: #f7ffff;
}
.light {
  --background: #f7ffff;
  --foreground: #18181b;
}

@custom-variant dark (&:where(.dark, .dark *));


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body:has(> .responsive-navbar) {
  overflow: hidden;
}

.background {
  background-image: url(../../public/background.png);
  background-repeat: repeat;
}

.nav-background {
  background-image: url(../../public/background.png);
  background-repeat: repeat;
  opacity: 0.5;
}
