a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #4ade80;
  opacity: 0;
  transition:
    opacity 300ms,
    transform 300ms;
}
a {
  display: block;
  position: relative;
  padding: 0.2em 0;
}

li a {
  overflow: hidden;
}

li a::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

li a:hover::after {
  transform: translate3d(0, 0, 0);
}
