button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2em;
  background-color: #4ade80;
  opacity: 0;
  transition:
    opacity 300ms,
    transform 300ms;
}
button {
  display: block;
  position: relative;
  padding: 0.2em 0;
}

li button {
  overflow: hidden;
}

li button::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

li button:hover::after {
  transform: translate3d(0, 0, 0);
}

.slideAnimation {
  animation-name: slideDown;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(-64px);
  }
}

.closeAnimation {
  animation-name: slideUp;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes slideUp {
  0% {
    transform: translateY(-64px);
  }
  100% {
    transform: translateY(-300px);
  }
}
